* {
  margin: 0;
  padding: 0;
}

html {
  background-image: url('images/background.jpg');
  background-size: cover;
}

nav {
  position: fixed;
  top: 0;
  background: black;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  height: 50px;
}

nav a {
  padding: 30px;
  font-family: 'Anton', sans-serif;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

header {
  margin-top: 100px;
  color: white;
  text-align: center;
  font-family: 'Baloo Bhai', sans-serif;
  font-size: 30px;
}

header img {
  width: 150px;
  border: black 3px solid;
  border-radius: 50%;
}

main {
  font-family: 'Anton', sans-serif;
  margin-bottom: 30px;
  color: black;
  display: flex;
  justify-content: space-around;
}

.project {
  color: white;
  background: rgba(0, 0, 0, 0.75);
  margin: 20px;
  padding: 30px;
}

.project h2 {
  color: white;
}

.project a {
  color: white;
}

.project img {
  width: 300px;
}

.about {
  color: white;

  /* border-radius: 20px; */
  padding: 20px;
  background: rgba(0, 0, 0, 0.75);
  width: 50%;
  margin: 20px;
}

.about h2 {
  color: white;
}

@media (max-width: 600px) {
  nav a {
    font-size: 12px;
    padding: 21px;
  }
  main {
    display: grid;
  }

  .about {
    margin: 0 auto;
  }
}
