* {
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
}

nav {
  position: fixed;
  top: 0;
  background: #060d3b;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  padding: 15px;
}

nav a {
  padding: 15px;
  font-family: 'Lato', sans-serif;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  color: #80a7bf;
}

header {
  color: white;
  text-align: center;
  font-family: 'Lalezar', sans-serif;
  font-size: 30px;
  background: url(images/backsplash.jpg);
  width: 760px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 10px;
  margin-bottom: 15px;
}

header img {
  width: 150px;
  border: white 3px solid;
  border-radius: 50%;
}

main {
  font-family: 'Lato', sans-serif;
  margin-bottom: 30px;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project {
  color: white;
  background: rgba(6, 13, 59);
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
}

.project-right {
  justify-self: right;
}

.project h2 {
  color: white;
}

.project a {
  color: white;
  font-size: 14px;
}

.project img {
  width: 300px;
}

.project img:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.about {
  color: white;
  border-radius: 10px;
  padding: 20px;
  background: rgba(6, 13, 59);
  width: 300px;
  margin: 20px;
  justify-self: right;
}

.about h2 {
  color: white;
  margin-bottom: 20px;
}

.about-picture img {
  border-radius: 10px;
  width: 350px;
}

.about-main {
  padding: 20px;
}

@media (max-width: 600px) {
  nav a {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  main {
    display: block;
  }

  header {
    width: 75vw;
  }

  .project {
    margin: 0 auto;
    margin-top: 10px;
  }
}

@media (max-width: 975px) {
  .about-main {
    display: grid;
    grid-template-columns: 1fr;
  }
  .about-picture img {
    width: 50%;
  }
  .about-picture {
    text-align: center;
    margin-top: 20px;
  }
  .about {
    margin: 0 auto;
  }
}
