* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #77e0fe;
}

nav {
  position: fixed;
  top: 0;
  background: #35b3fd;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  height: 50px;
}

nav a {
  padding: 30px;
  font-family: 'Lato', sans-serif;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  color: black;
}

header {
  margin-top: 100px;
  color: white;
  text-align: center;
  font-family: 'Lalezar', sans-serif;
  font-size: 30px;
}

header img {
  width: 150px;
  border: white 3px solid;
  border-radius: 50%;
}

main {
  font-family: 'Lato', sans-serif;
  margin-bottom: 30px;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project {
  color: black;
  background: rgba(255, 255, 255, 0.5);
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
}

.project-right {
  justify-self: right;
}

.project h2 {
  color: black;
}

.project a {
  color: black;
  font-size: 14px;
}

.project img {
  width: 300px;
}

.about {
  color: black;
  border-radius: 10px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  width: 50%;
  margin: 20px;
  justify-self: right;
}

.about h2 {
  color: black;
  margin-bottom: 20px;
}

.about-picture img {
  border-radius: 10px;
}

@media (max-width: 600px) {
  nav a {
    font-size: 12px;
    padding: 21px;
  }
  main {
    display: grid;
    grid-template-columns: 1fr;
  }

  .about {
    margin: 0 auto;
  }

  .project-right {
    justify-self: normal;
  }
}

@media (max-width: 975px) {
  .about-main {
    display: grid;
    grid-template-columns: 1fr;
  }
  .about-picture img {
    width: 50%;
  }
  .about-picture {
    text-align: center;
    margin-top: 20px;
  }
  .about {
    margin: 0 auto;
  }
}
